<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ela's Chat PHP WebAPP, using Ratchet and WebSockets</title>
    <link rel="stylesheet" href="{{ asset('bundles/elachat/css/chat.css') }}">
</head>
<body>
    <div id="user">
        <input type="text" id="username" placeholder="Username:">
    </div>
    <div class="container" id="chatcontainer">
        <div class="chat" id="chatwindow"></div>
        <div class="form">
            <textarea name="message" id="messagebox" placeholder="Message:"></textarea>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/elachat/js/Connection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/elachat/js/app.js') }}"></script>
</body>
</html>